.seller-items-body-container{
  background-color: rgba(128, 128, 128, 0.5);
  /* background-color: rgba(204, 141, 141, 0.5); */
  padding-bottom: 30px;
  /* margin-top: 20px; */
  height: auto;
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
  width: 1000px;
}

.seller-info {
  border: 2px solid rgb(206, 204, 204);
  border-radius: 5px;
  display: flex;
  width: 900px;
  justify-content: space-between;
  margin-left: 30px;
  background-color: whitesmoke;
}

.seller-username{
  display: flex;
  margin-left: 10px;
}

.seller-sold-items-count{
  display: flex;
}

.num-seller-ratings{
  display: flex;
  margin-right: 10px;
  /* margin-right: 0;
  width: 100px;
  padding-right: 50px; */
}

.seller-icon{
  display: flex;
  background-color: rgb(194, 194, 194);
  width: 60px;
  justify-content: center;
  border-radius: 50%;
}

.seller-page-item-cards{
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;
  /* margin-right: 20px; */
}

.divider{
  /* border-bottom: 40px solid white; */
  height: 40px;
  width: 100%;
  background-image: url("../../static/memphis-mini.png");
  /* margin-left: 270px;
  margin-top: 50px; */
  /* padding-right: 30px; */
  /* justify-self: flex-end; */
}

.item-description-conatiner{
  margin-top: 20px;
  height: 200px;
  width: 400px;
  padding: 5px;
  background-color: white;
  margin-bottom: 20px;
  /* border-radius: 10px; */
  border-top: 2px solid black;
  /* border-bottom: 2px solid black; */
  overflow: auto;
}

.username{
  margin-left: 10px;
  margin-top: 18px;
}

.sell-count{
  margin-left: 10px;
}

.average-ratings{
  margin-left: 10px;
}

.num-ratings{
  margin-left: 10px;
  margin-top: 5px;
}

.item-name-seller-profile{
  display: flex;
  position: absolute;
  justify-content: flex-start;
  height: 100px;
  width: 400px;
}

.table-container{
  display: flex;
  justify-content: center;
}

.inner-grid-container{
  display: flex;
}

.description-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
  margin-top: 100px;
}

.item-text {
  margin-left: 20px;
  text-decoration: underline;
}

.current-items-heading-container {
  margin-top: 50px;
  /* background-color: white; */
  background-image: url("../../static/memphis-mini.png");

}

.current-items-heading{
  margin-left: 30px;
  margin-bottom: 0px;
  /* border-bottom: 2px solid black; */
  margin-right: 30px;
  margin-left: 30px;
  /* text-decoration: underline; */
  /* width: auto; */
}

.seller-info-and-current-items-container {
  display: block;
  padding-top: 20px;
  width: 100%;
  height: auto;
  /* background-color: white; */
  background-image: url("../../static/memphis-mini.png");

}

.seller-info-heading {
  margin-left: 30px;
}

.buttons-container{
  display: flex;
  margin-left: 30px;
  width: 220px;
  justify-content: space-between;
  margin-top: 20px;
}

.for-sale-button-container{
  padding-right: 10px;
  border-right: 2px solid black;
}

.no-items-message-seller-profile{
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding-left: 30px;
}

.bid-buy-buttons-container-seller-profile{
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-top: 20px;
  margin-left: 55px;
}

.rent-button-seller-profile{
  margin-left: 20px;
}

.seller-info-rent-item-container{
  background-color: rgba(128, 128, 128, 0.5);
  padding-bottom: 30px;
  /* margin-top: 20px; */
  height: auto;
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
}

.image-container-seller-profile{
  margin-top: 100px;
}

.rent-button-seller-profile{
  margin-left: 90px;
  margin-top: 20px;

}

/*=============================================================================================================================*/



/* MEDIA QUERY SECTION */


@media only screen and (min-width: 1870px) {
  .description-table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    margin-top: 100px;
  }
  .bid-buy-buttons-container-seller-profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 20px;
    width: 210px;
    height: 140px;
    margin-left: 20px;
  }
  .seller-items-body-container{
    width: 900px;
  }
  .rent-button-seller-profile{
    margin-left: 40px;
    margin-top: 20px;
  }
}

@media only screen and (min-width: 1360px) and (max-width: 1869px) {
  .seller-items-body-container {
    width: 1000px;
    margin-left: 100px;
  }
  .rent-button-seller-profile{
    margin-left: 90px;
    margin-top: 20px;
  }
}