.seller-items-body-container{
  background-color: rgb(206, 204, 204);;
  padding-bottom: 30px;
  border-top: 2px solid black;
  height: auto;
  display: flex;
}

.seller-info {
  border: 2px solid black;
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin-left: 20px;
  margin-top: 20px;
}

.seller-username{
  display: flex;
}

.seller-sold-items-count{
  display: flex;
}

.num-seller-ratings{
  display: flex;
  /* padding-right: 120px; */
  width: 50px;
  /* margin-right: 50px; */
}

.seller-icon{
  display: flex;
  background-color: rgb(194, 194, 194);
  width: 60px;
  justify-content: center;
  border-radius: 50%;
}

.seller-page-item-cards{
  display: flex;
  padding-bottom: 20px;
  padding-top: 20px;

  /* margin-right: 20px; */
}

.divider{
  border-bottom: 2px solid black;
  width: 100%;
  /* margin-left: 270px;
  margin-top: 50px; */
  /* padding-right: 30px; */
  /* justify-self: flex-end; */
}

.item-description-conatiner{
  margin-top: 20px;
  height: 200px;
  width: 400px;
  padding: 5px;
  background-color: whitesmoke;
  margin-bottom: 20px;
  /* border-radius: 10px; */
  border-top: 2px solid black;
  /* border-bottom: 2px solid black; */
  /* overflow: scroll; */
}

.username{
  margin-left: 10px;
  margin-top: 18px;
}

.sell-count{
  margin-left: 10px;
}

.average-ratings{
  margin-left: 10px;
}

.num-ratings{
  margin-left: 10px;
  margin-top: 5px;
}

.item-name-seller-profile{
  /* margin-left: 170px; */
  /* padding-bottom: 50px; */
  display: flex;
  justify-content: flex-start;
  height: 100px;
}

.table-container{
  display: flex;
  justify-content: center;
}

.inner-grid-container{
  display: flex;
}

.description-table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 150px;
}

.item-text {
  margin-left: 20px;
}

.current-items-heading{
  margin-left: 20px;
}

/* username
sell-count
average-ratings
num-ratings */
