.top-bar-right{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: auto;
  margin-right: 10px;
  /* margin-top: 20px; */
  color: white;
  /* border: 1px solid white; */
}

.username-container{
  width: auto;
}

.username{
  margin: 3px;
  margin-left: 40px;
}

.dropdown-button-container{
  /* margin: 3px; */
  /* align-items: flex-start; */
  margin-right: 25px;
  width: 30px;
  height: 30px;
  margin-top: 19px;
  margin-left: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.dropdown-button-container:hover{
  background-color: rgb(255, 94, 0);
  margin-right: 25px;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
}


.three-dots{
  display: flex;
  height: 30px;
  width: 30px;
  height: 30px;
  /* margin-right: 25px; */
  /* align-items: center; */
  justify-content: center;
  /* margin-top: 20px; */
  margin-bottom: 10px;
}

.three-dots:hover{
  cursor: pointer;
}

.site-name-home-icon-container{
  display: flex;
}

.home-icon-container{
  /* color: #76323F; */
  /* color: black; */
  margin-left: 20px;
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  border: 1px solid white;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-delay: 0s;
}

.home-icon-container:hover{
  /* color: #76323F; */
  /* color: black; */
  margin-left: 20px;
  background-color: rgb(255, 94, 0);
  width: 50px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
  border: 1px solid white
}

.home-icon-container:hover{
  cursor: pointer;
}

.house-icon{
  color: white
}

.confirm-upload-button{
  margin-top: 5px;
}

.post-item-or-service-buttons {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.top-bar-container{
  /* background: linear-gradient(to right, #8e0e00, #1f1c18); */
  /* background: linear-gradient(to right, #4b79a1, #283e51); */
  background: linear-gradient(to right, #000000, #434343);
  /* background: linear-gradient(to right, #2196f3, #f44336); */
  /* background: linear-gradient(to right, #3a6186, #89253e); */
  /* background: linear-gradient(to right, #200122, #6f0000); */
  /* background: linear-gradient(to right, #c33764, #1d2671); */
  /* background-color: #a40606; */
  /* background: linear-gradient(to right, #1a2a6c, #b21f1f, #fdbb2d); */
  /* background:linear-gradient(to right, #0f0c29, #302b63, #24243e); */

  /* background: linear-gradient(to right, #c94b4b, #4b134f); */
  /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); */
  /* background-color: #0c1624; */
  background-color: #001a35;
  /* #262321 */
  display: flex;
  justify-content: space-between;
  height: 60px;
  /* border-bottom:2px solid rgb(255, 94, 0) */
  /* rgb(255, 94, 0) */
}

.site-name-container{
  display: flex;
  /* border: 2px solid red; */
  justify-content: center;
  width: auto;
  margin-left: 100px;
  color: red;
  align-items: center;
}
