.top-bar-right{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 200px;
  margin-right: 10px;
  margin-top: 20px;
  color: white;
}

.username{
  margin: 3px;
  margin-left: 40px
}

.user-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 200px;
  margin: 3px;
  background-color: whitesmoke;
  height: 30px;
  width: 30px;
}

.dropdown-button-container{
  margin: 3px;
  /* align-items: flex-start; */

}

.three-dots{
  display: flex;
  height: 30px;
  margin-right: 25px;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 0px;
}

.three-dots:hover{
  cursor: pointer;
}

.site-name-home-icon-container{
  display: flex;
}

.site-name-container{
  /* color: #76323F; */
  /* color: black; */

  margin-left: 20px;
  background-color: rgb(44, 1, 1);
  width: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50%;
}

.site-name-container:hover{
  cursor: pointer;
}

.site-name-text{
  color: black;
  text-decoration: underline;
}

.house-icon{
  color: whitesmoke
}

/* .top-bar-container{
  position: fixed;
  display: block;
  width: 100%;
  top: 0px;
  z-index: 1;
} */
