.chart-data{
  /* padding-top: 20px; */
  margin-right: 100px;
  margin-top: 20px;
  margin-left: 50px;
  border: 2px solid black;
}

.stats-buttons{
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-top: 50px;
  width: 230px;
  justify-content: space-between;
}

.button-divider{
  border-right: 2px solid black;
  padding-bottom: 50px;
  height: 50px;
}



.rent-history-table{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  display: flex;
  height: 232px;
  margin-bottom: 30px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}



.for-sale-table{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  display: flex;
  height: 232px;
  margin-bottom: 30px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}

.for-rent-table {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  display: flex;
  height: 232px;
  margin-bottom: 30px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
}

.for-sale-table-container{
  padding-top: 30px;
  margin-right: 100px;
}

.for-rent-table-container{
  padding-top: 30px;
  margin-right: 450px;
}

.rent-history-table-container{
  padding-top: 30px;
  margin-right: 500px;
}

.rating-buttons-and-slider{
  margin-left: 70px;
  margin-right: 30px
}

.rate-and-submit-buttons{
  display: flex;
}

.submit-rating-button{
  margin-left: 20px
}

.posted-items-table-container{
  padding-bottom: 0px;
  display: flex;
  /* margin-top: 20px; */
  margin-bottom: 283px;
  margin-top: 100px;
}

.main-page-items-table-container{
  padding-bottom: 0px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 120px;
}


.items-for-sale-heading{
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: white;
  border-bottom: 2px solid black;
}

.item-name-posted-items{
  margin-left: -20px;
  display: flex;
  justify-content: flex-start;
  height: 100px;
  max-height: 100px;
  /* border: 1px solid red; */
}

.item-divider {
  display: block;
  width: 215px;
  margin-left: 10px;
  margin-top: 20px;
  border-bottom: 2px solid black
}

.item-photo-container{
  margin-top: 0px;
  margin-bottom: 62px;
}

.purchase-history-heading{
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: white;
  border-bottom: 2px solid black;
}

.no-history-heading {
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: white;
  border-bottom: 2px solid black
}



.photo-upload-container {
  margin-top: 10px;
  margin-left: 70px;
}
.purchase-rent-toggle-buttons{
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-top: 10px;
  width: 100%;
  padding-bottom: 15px;
}
.purchase-rent-toggle-buttons__purchased{
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-top: 10px;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}
.purchase-rent-toggle-buttons-divider {
  border-right: 2px solid black;
  padding-bottom: 50px;
  height: 100%;
  margin-right: 5px;
  margin-left: 5px;
}
.current-and-past-rent-buttons-divider{
  border-right: 2px solid black;
  padding-bottom: 50px;
  height: 100%;
  margin-right: 5px;
  margin-left: 5px;

}
.current-and-past-rent-buttons {
  display: flex;
  height: 60px;
  padding-left: 50px;
  width: 100%;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  background-image: url("../../static/memphis-mini.png");
}

.for-rent-or-sale-buttons {
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-top: 10px;
  width: 100%;
  padding-bottom: 15px;
  border-bottom: 2px solid black;
}
.for-sale-rent-toggle-buttons-divider {
  border-right: 2px solid black;
  padding-bottom: 50px;
  height: 100%;
  margin-right: 5px;
  margin-left: 5px;
}
.no-items-posted-heading {
  margin: 0;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  background-color: white;
  border-bottom: 2px solid black;
}

.slider{
  /* border: 1px solid black; */
  margin-top: 10px;
  /* background-color: rgb(116, 116, 116); */
}

.background{
  height: 100%;
  background-image: url("../../static/memphis-mini.png");
}

.slider{
  margin-top: 20px;
}


/*--------------------------------------------------------------------------------------*/

.body-container-user-dropdown {
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: space-around;
  margin-left: 2.5%;
  margin-top: 30px
}

.body-container-user-dropdown__purchase-history-table-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  margin-right: 300px;
}

.body-container-user-dropdown__purchase-history-table-container__purchase-history-table{
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  display: flex;
  height: 232px;
  margin-bottom: 60px;
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 5px;
  width: 943px;
}

.body-container-user-dropdown__photos-container {
  padding-top: 30px;
  margin-right: 100px;
  margin-left: 80px;
}



@media only screen and (max-width: 1296px) {

  .body-container-user-dropdown__purchase-history-table-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    margin-right: 50px;
  }

  .body-container-user-dropdown__purchase-history-table-container__purchase-history-table{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 0px;
    display: flex;
    height: 232px;
    margin-bottom: 60px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
  }

  .body-container-user-dropdown__photos-container {
    padding-top: 30px;
    margin-right: 40px;
    margin-left: 0
  }
}
