.chart-data{
  /* padding-top: 20px; */
  margin-right: 100px;
  margin-top: 20px;
  margin-left: 50px;
  border: 2px solid black;
}

.stats-buttons{
  display: flex;
  align-items: center;
  padding-left: 50px;
  padding-top: 50px;
  width: 230px;
  justify-content: space-between;
}

.button-divider{
  border-right: 2px solid black;
  padding-bottom: 50px;
  height: 50px;
}

.purchase-history-table{
  /* padding-top: 82.5px; */
  padding-bottom: 0px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 160px;
  /* width: 1000px; */
}

.rating-buttons-and-slider{
  margin-left: 70px;
}

.rate-and-submit-buttons{
  display: flex;
}

.submit-rating-button{
  margin-left: 20px
}

.posted-items-table-container{
  padding-bottom: 0px;
  display: flex;
  /* margin-top: 20px; */
  margin-bottom: 283px;
  margin-top: 100px;
}

.main-page-items-table-container{
  padding-bottom: 0px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 120px;
}

.items-for-sale-heading{
  margin-left: 20px;
}

.item-name-posted-items{
  margin-left: -20px;
  display: flex;
  justify-content: flex-start;
  height: 100px;
  max-height: 100px;
  /* border: 1px solid red; */
}

.item-divider {
  display: block;
  width: 215px;
  margin-left: 10px;
  margin-top: 20px;
  border-bottom: 2px solid black
}

.purchase-history-heading{
  margin-left: 20px;
}

.items-body-container {
  height: 100%;
  width: 100%;
  background-color: rgb(206, 204, 204);
  border-top: 2px solid black;
  height: auto
}
