.category-container{
  display: flex;
  justify-content: center;

}
.category-contents{
  display: flex;
  align-items: center;
}
.search-container{
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}
.toggles {
  display: flex;
  justify-content: space-between;
  width: 600px;
  margin-left: 50px;
}
.search-bar-container{
  margin-right: 100px;
}

.chosen-category{
  display: flex;
  margin: 5px;
  margin-left: 10px;
  /* align-items: center; */
}

.price-range-selection{
  margin-left: 10px;
}
