html,
body {
  /* background-color: #f6f5f7; */
  /* background-color: #457B9D; */
  margin: 0;
  /* padding: 0; */
  box-sizing: border-box;
  height: auto;
  border: 10px solid red;

  /* background-color:white; */
  background-image: url('https://hi-neighbor-item-photos.s3.amazonaws.com/memphis-mini.png')
  /* margin: 0 auto */
  /* padding: 10px; */
  /* margin-bottom: 0.5rem; */
}


